@charset "utf-8";

// define the variables here
$base-font-family: "Geist", sans-serif;
$border-style: #999999 1px dotted;
$base-line-height: 1.5 !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// imports
@import "style/layout";
@import "style/base";
@import "style/colors";