:root {
  /* Enable light and dark color schemes for the document */
  color-scheme: light dark;
  --light-bg: #f5f5f5;
  --light-color: #212121;
  --light-sidebar-item-active-bg: #d9d9d9;
  --light-page-subtitle-color: #636365;

  --dark-bg: #060606;
  --dark-color: white;
  --dark-sidebar-item-active-bg: #272727;
  --dark-page-subtitle-color: #939393;
}

.light {
  /* forces light color-scheme */
  color-scheme: light;
}
.dark {
  /* forces dark color-scheme */
  color-scheme: dark;
}

body {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
}

.sidebar-item:hover, .sidebar-item:focus {
    background-color: light-dark(var(--light-sidebar-item-active-bg), var(--dark-sidebar-item-active-bg));
}

.sidebar-item-active {
    background-color: light-dark(var(--light-sidebar-item-active-bg), var(--dark-sidebar-item-active-bg));
}

a {
    color: light-dark(var(--light-color), var(--dark-color));
}